p{
    font-size: x-large;
}
.main{
    background-color:rgb(227, 236, 213);
}
h1{
    text-align: center;
    color: rgb(128, 128, 241);
} 
.main2{
    text-align: center;
    background-color: rgb(232, 240, 240);
}